.text-center {
  text-align: center;
}
.c-pointer {
  cursor: pointer;
}
.px-1 {
  padding: 0 1rem;
}
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.8rem 0;
}

.mt-1 {
  margin-top: 1rem;
}
.p-1 {
  padding: 1rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn.active {
  background-color: #263238 !important;
}

.strong {
  font-weight: bold;
}

.d-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-g-1 {
  flex-grow: 1;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    flex-grow: 1;
  }
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  .col {
    display: flex;
    justify-content: center;
    .card {
      width: 272px;
    }
  }
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 9px 0 rgba(0, 0, 0, 0.2);

  .card-content {
    padding: 24px 13px;
    padding-bottom: 1px;
  }

  .card-title {
    .name {
      font-size: 1.2rem;
    }
  }

  .card-image {
    img {
      height: 230px;
    }
  }
}

.collection {
  .collection-item {
    font-size: 1rem;
    padding: 10px;
  }
}

.page-footer {
  padding-top: 0;
}

@media (max-width: 600px) {
  .right-content {
    .col {
      display: flex;
      justify-content: center;
      .card {
        width: 100%;
      }
    }
  }
}

.d-block {
  display: none;
}
.dl-none {
  display: block;
}
.db-none {
  display: block;
}
.slide-in {
  animation: slideIn 2s ease-in-out;
}
@media (min-width: 600px) and (max-width: 750px) {
  .right-content {
    .col {
      display: flex;
      justify-content: center;
      .card {
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  .dl-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .db-none {
    display: none;
  }
}

@keyframes slideIn {
  0% {
    display: none;
    transform: translateX(-100%);
  }
  100% {
    display: block;
    transform: translateX(0%);
  }
}
